<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.nikshlykov.englishwordsapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.settings.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".ui.main.MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ru.nikshlykov.englishwordsapp.ui.main.MainActivity" />
        </activity>
        <activity
            android:theme="@style/AppTheme.Launcher"
            android:name=".ui.main.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.subgroup.SubgroupActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.word.WordActivity"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.modes.ModesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.subgroup.AddOrEditSubgroupActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>